<ion-header class="header">
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-button fill="clear" (click)="voltar()">
        <ion-icon name="chevron-back-outline" class="icon-arrow"></ion-icon>
      </ion-button>
      <ion-title>Escalas</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="escala-wrap">
  <ion-accordion-group>
    <ion-accordion *ngFor="let ministerio of ministerios" [value]="ministerio.titulo">
      <ion-item slot="header" lines="none" class="escala-header-item" button>
        <div class="escala-header">
          <div class="escala-badge">
            {{ ministerio.titulo | slice:0:1 }}
          </div>

          <div class="escala-info">
            <div class="escala-title">
              {{ ministerio.titulo }}
            </div>
  
          </div>

          <ion-icon name="chevron-down-outline" class="chevron">
          </ion-icon>
        </div>
      </ion-item>

      <div class="escala-body" slot="content">
        <div class="pessoas-grid">
          <ng-container *ngFor="let nome of ministerio.nomes; let i = index">
            <div class="pessoa-chip" *ngIf="i < 3">
              <div class="initial">{{ nome | slice:0:1 }}</div>
              <div class="pessoa-name">{{ nome }}</div>
            </div>
          </ng-container>

          <div *ngIf="ministerio.nomes?.length > 3" class="pessoa-chip more-chip">
            +{{ ministerio.nomes.length - 3 }} pessoas
          </div>

          <div *ngIf="!(ministerio.nomes?.length)" class="empty-state">
            Nenhuma pessoa atribuída
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  </div>

</ion-content>