<ion-header>
  <ion-toolbar>
    <ion-title>Programação - Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tabSelecionada" color="primary">
    <ion-segment-button value="criar">
      Criar
    </ion-segment-button>
    <ion-segment-button value="editar">
      Editar
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="tabSelecionada === 'criar'" class="ion-padding create-content">
    <h2>Criar Cronograma</h2>

    <div>
      <ion-datetime [(ngModel)]="data" presentation="date" (ionFocus)="marcarTocado('data')">
      </ion-datetime>
      <ion-note *ngIf="campoInvalido('data')" color="danger">
        A data é obrigatória
      </ion-note>
    </div>


    <div>
      <label>Hora de Início</label>
      <ion-input fill="outline" [(ngModel)]="horaInicio" type="time" (ionChange)="validarHorarioInicio()"
        (ionFocus)="marcarTocado('horaInicio')" [class.invalido]="horarioInvalido">
      </ion-input>
      <ion-note *ngIf="campoInvalido('horaInicio')" color="danger">
        A hora de início é obrigatória
      </ion-note>
      <ion-note *ngIf="horarioInvalido" color="danger">
        Horário conflita com atividades existentes
      </ion-note>
    </div>


    <ion-card *ngFor="let atv of atividades; let i = index">
      <ion-card-header class="title-head-card">
        <ion-card-title>Atividade {{ i + 1 }}</ion-card-title>
        <ion-button *ngIf="i !== 0" fill="clear" color="danger" size="small" (click)="removerAtividadeCriada(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-header>

      <ion-card-content style="display: flex; flex-direction: column; gap: 20px;">

        <div>
          <ion-input label="Descrição" label-placement="floating" fill="outline" placeholder="Informe a descrição"
            [(ngModel)]="atv.cronograma" (ionFocus)="marcarTocadoAtividade(i, 'cronograma')">
          </ion-input>
          <ion-note *ngIf="campoInvalidoAtividade(atv, 'cronograma', i)" color="danger">
            Descrição obrigatória
          </ion-note>
        </div>

        <div>
          <ion-input label="Linha de frente" label-placement="floating" fill="outline"
            placeholder="Informe a linha de frente" [(ngModel)]="atv.linhaFrente"
            (ionFocus)="marcarTocadoAtividade(i, 'linhaFrente')">
          </ion-input>
          <ion-note *ngIf="campoInvalidoAtividade(atv, 'linhaFrente', i)" color="danger">
            Linha de frente obrigatória
          </ion-note>
        </div>

        <div>
          <ion-input label="Responsável" label-placement="floating" fill="outline" placeholder="Informe o responsável"
            [(ngModel)]="atv.responsavel" (ionFocus)="marcarTocadoAtividade(i, 'responsavel')">
          </ion-input>
          <ion-note *ngIf="campoInvalidoAtividade(atv, 'responsavel', i)" color="danger">
            Responsável obrigatório
          </ion-note>
        </div>

        <div>
          <ion-input label="Duração (min)" label-placement="floating" fill="outline" type="number"
            placeholder="Informe a duração" [(ngModel)]="atv.duracao" (ionFocus)="marcarTocadoAtividade(i, 'duracao')">
          </ion-input>
          <ion-note *ngIf="campoInvalidoAtividade(atv, 'duracao', i)" color="danger">
            Informe uma duração maior que 0
          </ion-note>
        </div>

      </ion-card-content>
    </ion-card>

    <div class="fixed-bottom-button">
      <ion-button expand="block" (click)="adicionarAtividade()" shape="round">
        +
      </ion-button>
    </div>
    <ion-button expand="block" (click)="salvar()" [disabled]="!formularioValido()">
      Salvar Cronograma
    </ion-button>
  </div>

  <ion-accordion-group *ngIf="tabSelecionada != 'criar'" class="ion-padding">
    <ion-accordion *ngFor="let cronograma of cronogramas; trackBy: trackById" [value]="cronograma.data">
      <ion-item slot="header">
        <ion-label>{{ formatarDataComPeriodo(cronograma.data, cronograma.horaInicio) }}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($event, cronograma)">
          <ion-item *ngFor="let atv of cronograma.atividades; let i = index; trackBy: trackByIndex">
            <ion-label>
              <div *ngIf="!atv.editando">
                <h2>{{ atv.horario }} — {{ atv.cronograma }}</h2>
                <p><strong>Linha de frente:</strong> {{ atv.linhaFrente || '-' }}</p>
                <p><strong>Responsável:</strong> {{ atv.responsavel || '-' }}</p>
                <p><strong>Duração:</strong> {{ atv.duracao }} minutos</p>
              </div>

              <div *ngIf="atv.editando" style="width: 100%; display: flex; flex-direction: column; gap: 10px;">

                <ion-input label="Descrição" label-placement="floating" fill="outline"
                  [(ngModel)]="atv.cronograma"></ion-input>



                <ion-input label="Linha de frente" label-placement="floating" fill="outline"
                  [(ngModel)]="atv.linhaFrente"></ion-input>



                <ion-input label="Responsável" label-placement="floating" fill="outline"
                  [(ngModel)]="atv.responsavel"></ion-input>



                <ion-input label="Duração (min)" label-placement="floating" fill="outline" type="number"
                  [(ngModel)]="atv.duracao"></ion-input>

              </div>
            </ion-label>

            <div slot="end" class="actions">
              <div *ngIf="!atv.editando" style="display: flex;">
                <ion-button fill="clear" color="primary" size="small" (click)="ativarEdicao(atv)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" size="small" (click)="confirmarRemoverAtividade(cronograma, i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-reorder></ion-reorder>
              </div>

              <div *ngIf="atv.editando">
                <ion-button fill="clear" color="success" size="small" (click)="salvarEdicaoAtividade(cronograma, atv)">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="medium" size="small" (click)="cancelarEdicao(atv)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </div>

            </div>
          </ion-item>
        </ion-reorder-group>

        <ion-button color="primary" expand="block" (click)="salvarEdicao(cronograma)" style="margin-top: 10px;">
          Salvar Alterações
        </ion-button>

        <ion-button color="tertiary" expand="block" (click)="copiarParaCriar(cronograma)" style="margin-top: 10px;">
          <ion-icon name="copy" slot="start"></ion-icon>
          Adicionar mais atividades a este dia
        </ion-button>
        <ion-button color="danger" expand="block" (click)="confirmarRemoverCronograma(cronograma)"
          style="margin-top: 10px;">
          <ion-icon name="trash" slot="start"></ion-icon>
          Excluir Cronograma
        </ion-button>

      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>