.icon-arrow{
    color: #2c5364;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    background: #f7f8fa;
  }

  h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #333;
  }

  ion-input,
  ion-select,
  ion-datetime {
    margin-bottom: 16px;
  }
}

.calendar-container {
  margin-top: 20px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.day-name {
  font-weight: bold;
  text-align: center;
}

.calendar-day-empty {
  visibility: hidden;
  pointer-events: none;
}

/* Estilos existentes que você pode querer manter */
.calendar-container {
  padding: 16px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendar-container {
  padding: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day-name {
  text-align: center;
  font-weight: bold;
}

.calendar-day {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--ion-color-light);
}

.calendar-day.ocupado {
  background: var(--ion-color-primary);
  color: white;
}

.livre {
  background-color: var(--ion-color-light);
}