<ion-header class="header">
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-button fill="clear" (click)="voltar()">
        <ion-icon name="chevron-back-outline" class="icon-arrow"></ion-icon>
      </ion-button>
      <ion-title>Agenda</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="calendar-container">
    <div class="calendar-header">
      <ion-button fill="clear" (click)="mesAnterior()">
        <ion-icon name="chevron-back-outline" class="icon-arrow"></ion-icon>
      </ion-button>

      <h3>{{ meses[mesAtual] }} {{ anoAtual }}</h3>

      <ion-button fill="clear" (click)="proximoMes()">
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </ion-button>
    </div>

    <div class="calendar-container">

      <div class="calendar-grid">
        <div class="day-name" *ngFor="let dia of diasSemana">{{ dia }}</div>
        <div class="calendar-day" *ngFor="let dia of diasNoCalendario; trackBy: trackByDia" [ngClass]="{
           'calendar-day-empty': dia.numero === 0,
           'ocupado': dia.numero !== 0 && diasComAgendamento.includes(dia.data),
           'livre': dia.numero !== 0 && !diasComAgendamento.includes(dia.data)
         }" (click)="dia.numero !== 0 ? selecionarDia(dia.data) : null">
          {{ dia.numero !== 0 ? dia.numero : '' }}
        </div>
      </div>
    </div>

    <div *ngIf="agendamentosDoDia.length" id="agendamentosContainer">
      <h4>Agendamentos de {{ formatarDiaSemana(diaSelecionado) }}:</h4>
        <div *ngFor="let evento of agendamentosDoDia">
          <ion-label>
            <h3>Evento: {{ evento.nomeEvento }}</h3>
            <p>Ministério: {{ evento.ministerio }}</p>
            <p>Pregador: {{ evento.nomePregador }}</p>

            <p>Hora: {{ formatarHora(evento.dataHora) }}</p>
          </ion-label>
        </div>
    </div>
  </div>
</ion-content>