<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="password" type="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="login()">Entrar</ion-button>

      <ion-button expand="full" color="tertiary" style="margin-top: 15px;" (click)="loginWithGoogle()">
        Entrar com Google
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
  