<ion-content [fullscreen]="true" class="home-content" (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="imagem-parallax">
    <img id="headerImage" src="../../assets/images/igreja.png" />

    <ion-avatar class="photo-icon">
      <img [src]="avatarUrl" />
    </ion-avatar>


    <div class="sum-temp">
      <p>🌇 Horário do pôr do sol</p>
      <p>{{ sunsetTime }}</p>
    </div>
  </div>

  <ion-card class="sem-margem fade-in" *ngIf="proximosEventos.length > 0">
    <div class="carrossel-container">
      <label class="titulo-evento">Próximos Eventos</label>

      <div class="carrossel-wrapper">
        <div class="evento-card" *ngFor="let evento of proximosEventos">
          <label><strong>Evento: {{ evento.nomeEvento }}</strong></label>
          <label>Pregador: {{ evento.nomePregador }}</label>
          <label class="data-hora-evento">
            <ion-icon slot="start" name="calendar"></ion-icon>
            {{ formatarDia(evento.dataHora) }} | {{ formatarHora(evento.dataHora) }}
          </label>
        </div>
      </div>
    </div>
  </ion-card>

  <div>
    <ion-card class="fade-in card-degrade1" (click)="openPix()" #animado data-delay="0">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="Card"></ion-icon>
            <span>Dizimar e ofertar</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="fade-in card-degrade2" (click)="goToSabbathSchool()" #animado data-delay="100">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="book"></ion-icon>
            <span>Escola Sabatina</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Card 3 — Azul Claro (Agenda) -->
    <ion-card class="fade-in card-degrade3" (click)="goToUserSchedule()" #animado data-delay="200">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="calendar"></ion-icon>
            <span>Agenda Cidade Dutra</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Card 4 — Rosa (Mídias Sociais) -->
    <ion-card class="fade-in card-degrade4" #animado data-delay="300" (click)="abrirInstagram()">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="logo-instagram"></ion-icon>
            <span>Mídias Sociais</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>