<ion-content [fullscreen]="true" class="home-content">
  <div class="imagem-parallax">
    <img src="../../assets/images/igreja.png" />

    <ion-avatar class="photo-icon">
      <img [src]="user?.photoURL || './../../../assets/images/sem_imagem_avatar.png'" alt="Foto de perfil" />
    </ion-avatar>

    <div class="sum-temp">
      <p>🌇 Horário do pôr do sol</p>
      <p>{{ sunsetTime }}</p>
    </div>
  </div>

  <ion-card class="sem-margem" *ngIf="proximosEventos.length > 0">
    <div class="carrossel-container">
      <label class="titulo-evento">Próximos Eventos</label>

      <div class="carrossel-wrapper">
        <div class="evento-card" *ngFor="let evento of proximosEventos">
          <label><strong>Evento: {{ evento.nomeEvento }}</strong></label>
          <label>Pregador: {{ evento.nomePregador }}</label>
          <label class="data-hora-evento">
            <ion-icon slot="start" name="calendar"></ion-icon>
            {{ formatarDia(evento.dataHora) }} | {{ formatarHora(evento.dataHora) }}
          </label>
        </div>
      </div>
    </div>
  </ion-card>

  <div>
    <ion-card (click)="goToAdmin()">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="card"></ion-icon>
            <span>Dizimar e ofertar</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="warning" (click)="goToSabbathSchool()">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="book"></ion-icon>
            <span>Escola Sabatina</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="primary" (click)="goToUserSchedule()">
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="calendar"></ion-icon>
            <span>Agenda Cidade Dutra</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="titulo-com-icone">
            <ion-icon name="logo-instagram"></ion-icon>
            <span>Mídias Sociais</span>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
