/* Estilos globais para o Swiper */
swiper-container {
  padding: 0 0 0 24px;
  width: 100%;
}

.icon-arrow{
    color: #2c5364;
}

swiper-slide {
  width: auto !important;
  height: auto;
}

/* Estilos para os cards */
.slide-card {
  width: 150px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  transition: transform 0.3s ease;
  
  &:active {
    transform: scale(0.95);
  }
  
  .slide-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  
  ion-card-header {
    padding: 10px;
    
    ion-card-title {
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.section-container {
  margin-bottom: 25px;
}

ion-list-header {
  padding-inline-start: 24px;
  
  ion-label {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}