.custom-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0px;
}

.custom-loader-overlay img {
    width: 124px;
    height: 100px;
    object-fit: cover;
    mix-blend-mode: lighten;
}
